# specific files
estenograficas/tmp.csv
tmp/
data/manipulated-speeches-*.RData
mail/gaby.txt
paper/envios-editors/figure_*.tif

# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/

# emacs backups
custom.el
\#*
org-mode-config.el
org-clock-save.el
*~
.#*
.DS_Store
emacs-config.el

# latex files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
